<div style="float: left;" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-md="column">
    <div style="font-size: 25px" fxFlexFill>
       Categorias
    </div>
</div>
<div style="float: right;" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-md="column">
    <div fxFlexFill>
        <button mat-raised-button color="link" class="w-100" (click)="novaCategoria()">Nova Categoria</button>
    </div>
</div>
<br/>

<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
