<div style="float: left;" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-md="column">
    <div style="font-size: 25px" fxFlexFill>
       Cadastrar categoria
    </div>
</div>
<div style="float: right;" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-md="column">
    <div fxFlexFill>
        <button mat-raised-button color="link" class="w-100" (click)="voltar()">Voltar</button>
    </div>
</div><br/>
<br/>
<div class="example-container">
	<mat-form-field>
		<input matInput autocomplete="off" [(ngModel)]="form_cad_cat.nome" id="nomeElem" name="nome" placeholder="Nome da categoria">
	</mat-form-field>

	<div fxFlex fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="column">
		<button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
	</div>

</div>
