<div style="float: left;" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-md="column">
    <div style="font-size: 25px" fxFlexFill>
       Cadastrar filme
    </div>
</div>
<div style="float: right;" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-md="column">
    <div fxFlexFill>
        <button mat-raised-button color="link" class="w-100" (click)="voltar()">Voltar</button>
    </div>
</div><br/>
<br/>
<div class="example-container">
	<mat-form-field>
		<input matInput [(ngModel)]="form_cad.nome" name="nome" placeholder="Nome do filme">
	</mat-form-field>

	<mat-form-field>
		<textarea matInput [(ngModel)]="form_cad.descricao" name="descricao" placeholder="Descrição do filme"></textarea>
	</mat-form-field>

	<mat-form-field>
		<mat-select [(ngModel)]="form_cad.categoria" name="categoria" placeholder="Selecione a categoria do filme">
			<mat-option *ngFor="let cat of categorias" [value]="cat">{{cat.nome}}</mat-option>
		</mat-select>
	</mat-form-field>

	<div fxFlex fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="column">
		<button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
	</div>

</div>
