<div class="login-page">
    <div class="content">
        <form class="login-form" fxFlex  >
            <div class="text-center">
                <h2 class="app-name">Acesso</h2>
            </div>
            <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="email" [(ngModel)]="formulario.email" name="email" placeholder="Email">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" [(ngModel)]="formulario.senha" name="senha" placeholder="Senha">
                    </mat-form-field>
                </div>
            </div>
            <!--<div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex fxLayoutAlign="end">
                    <a href="javascript:void(0)">Esqueci a senha</a>
                </div>
            </div>-->
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                {{msgAcesso}}
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" (click)="acessar()">Acessar</button>
                </div>
            </div><br/>
            <div fxFlex fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="column">
                Ainda não possui uma conta?  <a href="javascript:;" (click)="cadastrar()"> Cadastre-se</a>
            </div>
        </form>
    </div>
</div>