<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/filmes']">
            <mat-icon class="sidenav-icon">movie</mat-icon> Filmes
        </a>
        <a mat-list-item [routerLink]="['/comentarios']">
            <mat-icon class="sidenav-icon">comment</mat-icon> Comentários
        </a>
        <a mat-list-item [routerLink]="['/categorias']">
            <mat-icon class="sidenav-icon">notes</mat-icon> Categorias
        </a>
    </mat-nav-list>
</div>
