<div style="float: left;" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-md="column">
    <div style="font-size: 25px" fxFlexFill>
       Editar filme
    </div>
</div>
<div style="float: right;" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-md="column">
    <div fxFlexFill>
        <button mat-raised-button color="link" class="w-100" (click)="voltar()">Voltar</button>
    </div>
</div><br/>
<br/>
<div class="example-container">
	<mat-form-field>
		<input matInput [(ngModel)]="form_edit.nome" name="nome" placeholder="Nome do filme">
	</mat-form-field>

	<mat-form-field>
		<textarea matInput [(ngModel)]="form_edit.descricao" name="descricao" placeholder="Descrição do filme"></textarea>
	</mat-form-field>

	<mat-form-field>
		<mat-select [(ngModel)]="form_edit.categoria_id" name="categoria" placeholder="Selecione a categoria do filme">
			<mat-option *ngFor="let cat of categorias" (click)="selecOptCat(cat)" [value]="cat._id">{{cat.nome}}</mat-option>
		</mat-select>
	</mat-form-field>

	<div fxFlex fxLayout="row" fxLayoutAlign="center" fxLayout.lt-md="column">
		<button mat-raised-button color="primary" (click)="editar()">Editar</button>
	</div>

</div>
