<div style="float: left;" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-md="column">
    <div style="font-size: 25px" fxFlexFill>
       Comentários
    </div>
</div>
<div style="float: right;" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-md="column">
    <div fxFlexFill>
        <button mat-mini-fab color="warn" (click)="atualizar()"><mat-icon class="sidenav-icon">refresh</mat-icon></button>
    </div>
</div><br/>
<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="comentario">
                <th mat-header-cell *matHeaderCellDef> Comentário </th>
                <td mat-cell *matCellDef="let element"> {{element.comentario}} </td>
            </ng-container>

            <ng-container matColumnDef="filme">
                <th mat-header-cell *matHeaderCellDef> Filme </th>
                <td mat-cell *matCellDef="let element"> {{element.filme.nome}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
