<div style="float: left;" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-md="column">
    <div style="font-size: 25px" fxFlexFill>
       Filmes
    </div>
</div>
<div style="float: right;" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-md="column">
    <div fxFlexFill>
        <button mat-raised-button color="link" class="w-100" (click)="novoFilme()">Novo Filme</button>
    </div>
</div><br/>
<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Descrição </th>
                <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>

            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef> categoria </th>
                <td mat-cell *matCellDef="let element"> {{element.categoria.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="editButton">
                <th mat-header-cell *matHeaderCellDef ></th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-button color="accent" (click)="editar(element._id)">Editar</button>
                    <button mat-button color="warn" (click)="apagar(element._id,element.nome,$event)">Apagar</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
